p{margin: 0;}
button{margin: 0;}
.mui-bar-nav{background-color: white;}
.content_head{background-color: #FF4397;padding: 1rem;}
.content_head .user_logo{float: left;width: 4rem;height: 4rem;overflow: hidden;padding: 0.5rem;margin-right: 0.5rem;}
.content_head .user_logo img{width: 100%;}
.content_head .user_days{float: left;width: 50%;font-size: 1.2rem;color: white;padding-top: 0.5rem;}
.content_head .user_days span{font-weight: bolder;padding: 0 0.3rem;}
.content_head .user_money{float: left;width: 40%;font-size: 1rem;color: white;padding-top: 0.5rem;}
.content_head .user_money span{font-weight: bold;}
.content_head .qiandao_rule{float: right;width: 20%;font-size: 1rem;color: white;font-weight: normal;margin-top: -0.5rem;}
.content_head .qiandao_alert{float: right;width: 38%;height: 1.8rem;font-size: 0.9rem;color: white;line-height: 1.8rem;margin-top: 0.3rem;}
.mui-switch{border: 2px solid white;}
.content_head .qiandao_alert .mui-switch{float: right;width: 60px;}
.mui-switch-mini.mui-active .mui-switch-handle{transform: translate(29px, 0);}
.mui-switch.mui-active{border-color: #FFA749;background-color: #FFA749;}
.qiandao .qiandao_header{width: 100%;padding: 1rem 15%;}
.qiandao .qiandao_header .line{float: left;width: 30%;height: 2px;border-radius: 1rem;background-color: #BBBBBB;margin-top: 1rem;}
.qiandao .qiandao_header h2{float: left;width: 40%;font-size: 1.1rem;color: black;font-weight: normal;text-align: center;margin-top: 0.5rem;}
ul{display: flex;justify-content: space-between;flex-wrap: wrap;padding: 0 1rem 1rem 1rem;}
ul li{width: 30%;background-color: white;border-radius: 10px;padding: 0.5rem 1rem;margin-top: 1rem;}
ul li:last-child{width: 65%;padding: 0;}
ul li:last-child img{width: 100%;height: 100%;}
ul li h2{font-size: 1rem;color: black;text-align: center;line-height: 1.3rem;font-weight: normal;}
ul li h2 span{font-size: 0.8rem;color: #888888;}
ul li .qiandao_kubi{font-size: 1rem;color: #888888;text-align: center;margin-top: 0.5rem;}
ul li .qiandao_kubi span{font-weight: 600;}
ul li .qiandao_kubi.cur{color: #FFA84A;}
ul li .qiandao_kubi.cur span{color: #FFA84A;}
ul li button{display: none;width: 4.5rem;height: 1.5rem;font-size: 0.9rem;color: white;border-radius: 15px;background-color: #FFA749;border: none;margin: 0.5rem auto;padding: 0;}
ul li button.cur{display: block;}
ul li .qiandao_lq{display: none;position: relative;padding-left: 1.2rem;font-size: 0.8rem;color: #FFA84A;text-align: center;margin-top: 0.5rem;}
ul li .qiandao_lq:before{content: "\e6a7";position: absolute;top: 0;left: 0;width: 1rem;height: 1rem;font-size: 0.8rem;font-family: icon;color: white;text-align: center;line-height: 1rem;background-color: #FFA84A;border-radius: 50%;}
ul li .qiandao_lq.cur{display: block;}
ul li .qiandao_zbkl{font-size: 0.9rem;color: #888888;text-align: center;margin-top: 0.5rem;}
ul li .qiandao_zbkl.cur{display: none;}
.close_shadow{display: none;position: fixed;top: 0;left: 0;z-index: 100;width: 100%;height: 100%;background-color: rgba(0,0,0,.5);}
.close_shadow.cur{display: block;}
.close_shadow .shadow_alert{position: relative;width: 80%;background-color: white;border-radius: 15px;margin: 50% auto;padding: 1rem;}
.close_shadow .shadow_alert h2{font-size: 1rem;font-weight: normal;text-align: center;padding-top: 3rem;}
.close_shadow .shadow_alert p{font-size: 0.9rem;color: #888888;text-align: center;line-height: 1.5rem;margin-top: 1rem;}
.close_shadow .shadow_alert .close_true{float: left;width: 40%;height: 2rem;font-size: 1rem;color: #888888;border-radius: 20px;margin: 1rem 0 0 0.5rem;padding: 0;}
.close_shadow .shadow_alert .close_false{float: right;width: 40%;height: 2rem;font-size: 1rem;color: white;background-color: #FF4397;border-color: #FF4397;border-radius: 20px;margin: 1rem 0.5rem 0 0;padding: 0;}
.close_shadow .shadow_alert .close_close{position: absolute;top: 1rem;right: 1rem;font-size: 1.5rem;color: #888888;font-family: icon;border: none;}
.qiandao_shadow{display: none;position: fixed;top: 0;left: 0;z-index: 100;width: 100%;height: 100%;background-color: rgba(0,0,0,.5);}
.qiandao_shadow.cur{display: block;}
.qiandao_shadow .cg_alert{position: relative;width: 80%;background-color: white;border-radius: 20px;margin: 50% auto;padding: 2rem 1rem 1rem;}
.qiandao_shadow .cg_alert img{display: block;width: 50%;margin: 0 auto;}
.qiandao_shadow .cg_alert p{font-size: 1rem;color: black;text-align: center;margin-top: 1rem;}
.qiandao_shadow .cg_alert .cg_close{position: absolute;top: 1rem;right: 1rem;font-size: 1.5rem;color: #888888;font-family: icon;border: none;}
